.interactive {
    font-family: monospace;
    font-size: 16px;
    padding: 5px;
    line-height: 150%;
    border-radius: 5px;
    background-color: #f3f3f3;
}

.dark .interactive {
    color: white;
    background-color: #0c0c0c;
}

.interactive .container {
    padding: 3px;
    border-radius: 3px;
    user-select: none;
}

.interactive .container.empty {
    background-color: #ddd;
}

.dark .interactive .container.empty {
    background-color: #222;
}

.interactive .container:not(.empty) {
    padding: 0;
}

.interactive .block {
    padding: 3px;
    border-radius: 3px;
    border: solid 1.5px #aaa;
    background-color: #eee;
    cursor: move;
    transition: background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

.incorrect {
    background-color: #f77 !important;
    border-color: #783838 !important;
}

.dark .incorrect {
    background-color: #783838 !important;
    border-color: #f77 !important;
}

.correct {
    background-color: #7f7 !important;
    border-color: #387838 !important;
}

.dark .correct {
    background-color: #387838 !important;
    border-color: #7f7 !important;
}

.dark .interactive .block {
    border-color: #555;
    background-color: #111;
}

.interactive button {
    font-family: monospace;
    font-size: 16px;
    line-height: 150%;
    border-radius: 5px;
    border-width: 1.5px;
    border-color: black;
    background-color: rgb(161, 199, 255);
    border: 0;
}

.dark .interactive button {
    border-color: white;
}

.interactive button:hover {
    filter: brightness(1.2);
    cursor: pointer;
}