@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body.dark {
    background-color: black;
}

/* Header */
#header {
    text-align: center;
}

hr {
    height: 1px;
    opacity: 0.5;
}

#nav {
    font-family: 'Montserrat', sans-serif;
}

.dark #nav {
    background-color: black;
}

#logotext {
    display: inline-block;
    text-align: left;
    margin-left: 30px;
}

.dark #logotext {
    color: white;
}

#links {
    list-style-type: none;
    display: inline-flex;
    padding: 0;
    white-space: nowrap;
    float: right;
    justify-content: center;
    margin-top: 25px;
    margin-right: 20px;
}

.link {
    padding: 0 20px 0 20px;
    display: inline-block;
}

.link a {
    text-decoration: none;
    color: black;
}

.dark .link a {
    color: white;
}

.link a:hover {
    color: black;
    text-decoration: underline;
}

.dark .link a:hover {
    color: white;
}

/* @media only screen and (min-width: 922px) and (max-width: 1136px) {
    #links {
        width: calc(100% - 30px);
        justify-content: left;
        margin-top: 0;
    }
} */

@media only screen and (max-width: 1200px) {
    #links {
        margin-top: 0;
        margin-left: 0;
        float: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .link {
        margin-top: 20px;
        padding: 0 20px 0 20px;
    }

    #nav {
        text-align: center;
        padding-bottom: 5px;
    }

    #logotext {
        padding: 0;
        margin: 0;
        text-align: center;
    }
}