#egg {
    padding: 30px;
    padding-top: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ul-wrapper ul li a {
    color: black;
}